* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px
}

body {
    background-color: rgba(0, 0, 0, 0);
}

.container-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}


.container-grid > button {
    border: 1px solid black;
    outline: none;
    background-color: rgb(80, 80, 80);
    color: white;
}

.calculator-grid > button:active {
    color: white;
}

button:active {
    background-color: rgb(212, 212, 210);
}

.span-two {
    grid-column: span 2;
    border-bottom-left-radius: 1rem;
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(28, 28, 28);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: end;
    word-wrap: break-word;
    word-break: break-all;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.container-grid > .darker-row {
    background-color: #333;
}

.darker-row:active {
    background-color: rgb(212, 212, 210);
}

.container-grid > .operator {
    background-color: rgb(255, 149, 0);
}

.operator:active {
    background-color: rgb(212, 212, 210);
}

.output .user-input {
    font-size: 50px;
}

.equals {
    border-bottom-right-radius: 1rem;
}